body{
    margin: auto;
    background: url(images/BackgroundFULL.png);
    height: 2329px;
    width: 1920px;

}
div {
    display: block;
}

a {
    font-family: sans-serif;
    font-size: 11px;
    color: #f2f2f2;
    text-decoration: none;
}

a:hover {
    color: gray;
}

#wrapper {
    margin: auto;
    width: 960px;
    height: 100%;
}
#navigation {
    height: 110px;
    background-color: #111213;
}
#navigation-header {
    background-image: url(images/Logo.png);
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 30px;
    float: left;
    width: 400px;
    height: 60px;
}
#searchDiv {
    margin-right: 20px;
    margin-bottom: 2px;
    float: right;
    vertical-align: middle;
    margin-top: 20px;
}
#searchDiv #search {
    width: 130px;
    height: 20px;
    border: 1px solid gray;
    padding-left: 20px;
    border-radius: 10px;
    background-image: url(../img/search_icon.png);
    background-repeat: no-repeat;
    background-position: left center;
}
#navigation-links {
    margin-top: 1px;
    float: right;
}
#navigation-links ul {
    list-style-type: none;
    padding: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
}
#navigation-links li {
    display: inline;
    padding-left: 9px;
}
#picwithtext {
    background: url(images/MOCCA.png);
    background-repeat: no-repeat;
    height: 360px;
}
#underpicwithtext {
    background: url(images/Black-bar.png);
    background-repeat: no-repeat;
    height: 151px;
}
#textinblackbar{
    background-image: url(images/randomtext.png);
    background-repeat: no-repeat;
    height: 64px;
    width: 550px;
    float: left;
    margin-top: 45px;
    margin-left: 20px;
}

#Rightsideinfo {
    background: url(images/GreyBackground.png);
    background-repeat: no-repeat;
    width: 247px;
    height: 713px;
    float: right;
}
#Shop{
    background: url(images/NBC-Shop.png);
    width: 106px;
    height: 23px;
    margin-top: 30px;
    margin-left: 20px;
}
#ShoppingCart {
    background: url(images/Your-shopping-cart-is-empty-Visit-the-shop-.png);
    width: 162px;
    height: 33px;
    margin-top: 30px;
    margin-left: 20px;
}
#NextEvent {
    background: url(images/Next-Event.png);
    width: 113px;
    height: 16px;
    margin-top: 50px;
    margin-left: 20px;
}
#SignUp {
    background: url(images/SignUP.png);
    width: 180px;
    height: 113px;
    margin-top: 35px;
    margin-left: 20px;
}
#ListOfWinners {
    background: url(images/Winners.png);
    width: 176px;
    height: 172px;
    margin-top: 35px;
    margin-left: 20px;
}
#Scoreboard {
    background: url(images/Scoreboard.png);
    width: 110px;
    height: 17px;
    margin-top: 35px;
    margin-left: 20px;
}
.historie{
    height: 155px;
    margin-top: 30px;
}
.billede {
    background-repeat: no-repeat;
    border: 5px solid #e9e9e9;
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 25px;
    border: 5px inline;
}
.Titelhistorie{
    background-repeat: no-repeat;
    width: 283px;
    height: 34px;
    float: left;
    margin-left: 30px;
}
.texttilhistorie {
    background-repeat: no-repeat;
    width: 441px;
    height: 53px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
.readmore {
    background:url(images/Buttonreadmore.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 141px;
    float:left;
    margin-left: 30px;
    margin-top: 25px;
}
.postsplitter {
    background: url(images/Shape-2s-Inner-Bevel-Shadows.png);
    height: 2px;
    width: 620px;
    float: left;
    margin-left: 60px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.pagination {
    margin-left: 10px;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
}
.page {
    margin-right: 5px;
    display: inline-block;
    padding: 0px 9px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    font-size: .875em;
    font-weight: bold;
    color: #717171;
}

.page:hover {
    background: #fefefe;
}

.page.active {
    background: #616161;
    color: #f0f0f0;
}
#Sponsers{
    background: url(images/Nordic-Barista-Cup-Sponsors.png);
    width: 284px;
    height: 24px;
    float: left;
    margin-top: 0px;
    margin-right: 380px;
    margin-left: 30px;
}
#sponserpics{
    width: 895px;
    margin: 30px;
    float: left;
}
#sponserpics ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#sponserpics li{
    display: inline-block;
    border: 3px solid #f5f5ef;
    margin-right: 5px;
    margin-bottom: 10px;
}
#endblack {
    background-color: #0f0f0f;
    height: 381px;
    margin-top: 675px;
}
#LeftTitle{
    background: url(images/About-Nordic-Barista-Cup.png);
    height: 24px;
    width: 256px;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
}
#Endtext{
    background: url(images/Endtext.png);
    height: 273px;
    width: 276px;
    float: left;
    margin-top: 40px;
    margin-right: 500px;
}
#MidTitle {
    background: url(images/NBC-Flickr-Stream.png);
    background-repeat: no-repeat;
    height: 17px;
    width: 275px;
    float: left;
    margin-left: 75px;
    margin-top: 15px;
}
#MidTitle ul {
    margin-top: 40px;
    padding: 0px;
}
#MidTitle li {
    width: 75px;
    height: 75px;
    display: inline-block;
    border: 1px solid #292929;
}
#RightTitle {
    background: url(images/Contact.png);
    height: 16px;
    width: 76px;
    float: right;
    margin-right: 250px;
    margin-top: 17px;
}
#ContactInfo {
    background: url(images/Info.png);
    height: 120px;
    width: 221px;
    margin-top: 30px;
}
#shareunderpic{
    width: 300px;
    height: 150px;
    float: left;
    margin-left: 89px;
}
#shareunderpic ul {
    margin: 0px;
    padding-left: 30px;
    padding-top: 50px;
}
#shareunderpic li {
    display: inline;
}
#shareend{
    width: 300px;
    height: 150px;
    float: left;
}
#shareend ul {
    margin: 0px;
    padding-left: 0px;
    padding-top: 30px;
}
#shareend li {
    display: inline;
}
